<!DOCTYPE html>
<html>
  <head>
    <title>My experiment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/jspsych@7.3.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-initialize-microphone@1.0.1"></script> 
    <!-- <script src="https://unpkg.com/@jspsych/plugin-html-audio-response@1.0.1"></script> -->
    <script src="js/html-audio-response.index.browser.min.js"></script>
    <script src="js/image-button-response.index.browser.min.js"></script>

    <!-- <script src="https://unpkg.com/@jspsych/plugin-image-button-response@1.1.1"></script> -->
    <script src="https://unpkg.com/@jspsych/plugin-html-button-response@1.1.1"></script>
    <script src="https://unpkg.com/@jspsych/plugin-survey@0.2.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-browser-check@1.0.1"></script>

    <link href="https://unpkg.com/jspsych@7.3.0/css/jspsych.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/@jspsych/plugin-survey@0.2.0/css/survey.css">
    <style type="text/css">
      .jspsych-content, .sv_body {
        font-size: 1.5em;
        line-height: 1em;
      }

      .jspsych-btn {
        font-size: 1em;
      }

      #playback {
        width: 100% ;
      }

      #jspsych-image-button-response-stimulus {
        width: 90%;
      }
    </style>
  </head>
  <body></body>
  <script type="text/javascript">

    // var unique_id = Math.floor(Math.random()*90000000) + 10000000;
    var unique_id = Math.floor(Math.random()*90000000) + 10000000;


    function save_data(data) {
      console.log('save_data() called');
      data.unique_id = unique_id;

      fetch('/save_data', {
        method:'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(res => {
        console.log(res);
      })
      .catch(error => console.error('Error:', error))
      .then(result => {

      });
    }



    const jsPsych = initJsPsych({

      // 
      on_trial_finish: function(data) {
        console.log('A trial just ended.');
        // console.log(JSON.stringify(data));
        console.log(`trial_type: ${data.trial_type}`);


        // console.log('get all data:');
        // console.log(jsPsych.data.get());


        if (data.trial_type == "survey" || data.trial_type == "html-audio-response" ) {

          // 如果是填寫姓名那一頁，要把姓名當作id
          if (data.trial_index == 2) {
            var now = new Date();
            var now_string = now.toISOString().substring(0,16).replace("T", "_").replace(":", "");
            unique_id = `${now_string}_${data.response.name}`
          }
          // console.log('!!!');
          save_data(data);
        }
      },

      // 整個實驗做完後
      on_finish: function(data) {
        window.location.href = '/result?id=' + unique_id;
      }
    });


    const welcome_trial = {
      type: jsPsychHtmlButtonResponse,
      stimulus: '<p>歡迎進入本測驗</p>',
      choices: ['問卷開始'],
    };

    const browser_check_trial = {
      type: jsPsychBrowserCheck,
      inclusion_function: (data) => {
        return data.microphone;
      },
      exclusion_message: `<p>您目前的裝置偵測不到麥克風。請插入麥克風裝置，或改用有麥克風設備的裝置（例如手機）進行本問卷。</p>`
    };

    const survey_trial = {
      type: jsPsychSurvey,
      pages: [
        [
          {
            type: 'html',
            prompt: '請填寫下列基本資料:',
          },
          {
            type: 'text',
            prompt: "請輸入姓名", 
            name: 'name', 
            required: true
          }, 
          {
            type: 'drop-down',
            prompt: "請選擇年齡範圍", 
            name: 'age', 
            options: ['21~30', '31~40', '41~50', '51~60', '61~70', '71~80'], 
            required: true,
          }
        ]
      ],
      button_label_finish: '下一頁',
    };


    const get_microphone_trial = {
      type: jsPsychInitializeMicrophone,
      device_select_message: "<p>請選擇你要使用的麥克風裝置</p>",
      button_label: "確認"
    };

    const show_img_trial_1 = {
        type: jsPsychImageButtonResponse,
        stimulus: '',
        choices: ['結束本問卷'],
        prompt: "<p>問卷填寫完璧，感謝您的配合！</p>"
    };

  

    let file_list = ['01_A1', '02_B1', '03_C1', '04_D1', '05_A2', '06_B2', '07_C2', '08_D2', '09_A3', '10_A4', '11_B3', '12_C3', '13_D3', '14_D4'];

    function img_name_to_trial(image_name) {
      // var show_img = {
      //   type: jsPsychImageButtonResponse,
      //   stimulus: `images/${image_name}.png`,
      //   choices: ['繼續'],
      //   prompt_above: "<p>請仔細看下面的圖片，看完後請按下「繼續」鍵。</p>",
      //   // render_on_canvas: false
      // }

      var record_trial = {
        type: jsPsychHtmlAudioResponse,
        stimulus: `請先仔細看下面的漫畫：`,
        stimulus_duration: null,
        recording_duration: 30000,
        allow_playback: true,
        done_button_label: "停止錄音",
        record_again_button_label: "重錄一次",
        accept_button_label: "填答確認無誤，下一題",
        show_button_label: "開始錄音",
        show_start_button: true,
        show_textarea: true,
        image_name: `${image_name}.png`,
      }
      // var result = [show_img, record_trial]
      var result = [record_trial]

      // console.log(result)
      return result
    }

    trials = []

    for (let img of file_list) {
      let r = img_name_to_trial(img)
      trials = trials.concat(r)
    }

    // console.log(trials)
    // const timeline = [ welcome_trial, browser_check_trial, survey_trial, get_microphone_trial, show_img_trial_1, record_trial_1, show_img_trial_2, record_trial_2, show_img_trial_3, record_trial_3, show_img_trial_1];
    let timeline = [welcome_trial, browser_check_trial, survey_trial, get_microphone_trial]
    timeline = timeline.concat(trials)
    timeline = timeline.concat([show_img_trial_1])
    // console.log(timeline)
    jsPsych.run(timeline);
  </script>
</html>